<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClimaApp</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <h1>Obtener las condiciones climaticas</h1>
    <form action="/weather">
      <input
        type="text"
        name="city"
        id="city"
        placeholder="Ingresar la ciudad"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
